
<div id="successContainer">
<div class="titleBackground">
  <p id="titleText">Tacpoint Bank</p>
</div>

<div class="successBox">
    <p class="successText">
  Welcome back, <%=@current_user.name%>!
    <br>
    <br>
    You're account balance is:  $<%=@current_user.account.account_balance%>.00
    <br>
    <hr>
</p>
</div>
</div>

